extends layout

block content
  .container-fluid(style="margin-top:2%;")
    .jumbotron
      .bs-callout.catcallout(class=`bs-callout-${category.name}`)
        - if(!category.pretty_name) category.pretty_name = category.name.charAt(0).toUpperCase() + category.name.slice(1);
        h4
          a(href=`/category/${category.name}`) #{category.pretty_name}
        span(style='font:14px;') #{category.description}
        br
        br
        - if(category.wiki)
        a(href=`${category.wiki}`) Read more on TripSit Wiki...
      .table
      table.table.table-striped.table_class.table-hover
        thead
            tr
              th.theader
                | Name
              th.theader
                | Categories
              th.theader
                | Summary
              th.theader
                | Alias
        tfoot
              tr
                th.theader
                  | Name
                th.theader
                  | Categories
                th.theader
                  | Summary
                th.theader
                  | Alias
        tbody.tbody1.table-hover
          each drug in drugs
            tr
              td.ttext.all
                a.boxed2(href='/'+encodeURIComponent(drug.name)) 
                  | #{drug.pretty_name}
              td.min-tablet
                if drug.categories 
                    - var categoryNames = ['psychedelic', 'benzodiazepine', 'stimulant', 'dissociative', 'opioid', 'depressant', 'habit-forming', 'research-chemical', 'tentative', 'empathogen']
                    each kw in drug.categories
                          if categoryNames.indexOf(kw) > -1
                            a(href='/category/'+kw class=`label label-${kw}` style='padding:3px;margin:5px;' ) #{kw}
                          else
                            a(href='/category/'+kw class="label label-default" style='padding:3px;margin:5px;' ) #{kw}
                else
                  span.label.label-default(href='/category/'+kw style='padding:3px;margin:5px;') other
              td.ttext.desktop
                | !{drug.properties.summary}
              td.ttext.desktop
                | !{drug.properties.aliases}
      p
      p
      b Factsheets on #{drugs.length} drugs
  link(rel='stylesheet' type="text/css" href='https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap.min.css')
  link(rel='stylesheet' type="text/css" href='https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css')
  script(src='https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js')
  script(src='https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js')
  script(src='https://cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap.min.js')
  script(src='/javascripts/dataTable.js')
