extends layout
block content

  script var drug = !{JSON.stringify(drug)};

  div.sidebar
    div#sidebarcontent
        ul.nav.nav-sidebar
          li
            a(href='/') 
              span.glyphicon.glyphicon-menu-left(aria-hidden='true') 
              span Back to Browse
          li.divider(role='presentation', style="background-color:#aaa;display:block;height:5px;")
          li.active
            a(href='#basic') Basic Information
          li
            a(href='#interact') Interactions
          li
            a(href='#sources') External Links
  .main
    a(name='basic')
    h1#drug.page-header #{drug.pretty_name}
    div#drugname(style='display:none;') #{drug.name}
    h2.sub-header Basic Information
    table.table
      tbody.tbody1
        for pName in order
          if drug.properties[pName]
            - name = pName.charAt(0).toUpperCase() + pName.slice(1);
            - property = drug.properties[pName]
            - if(pName == 'dose')
              -if(drug.hasOwnProperty('formatted_dose'))
                td.tlefttext(style='width:25%;vertical-align: top;') 
                  b Dose
                td.ttext(style='width:75%')
                  -each item,roa in drug.formatted_dose
                    table
                      tr
                        td(width="30%",style="margin-right:30px;")
                            table.table
                              thead
                                tr
                                  -if(roa == 'none')
                                    th(colspan='2') 
                                  -else
                                    th(colspan='2') #{roa}
                              -each i,t in item
                               tr 
                                td(style='width:20%') #{t}
                                td #{i}
                        td(style="margin-left:25px;")
                          div(id=roa+'Chart', style="height:200px;width:500px;margin-left:100px;")
                  -if(drug.hasOwnProperty('dose_note'))
                    .bs-callout.bs-callout-benzo
                      h4 
                      p #{drug.dose_note}

            - else if(pName == 'effects' && drug.hasOwnProperty('formatted_effects'))
              tr
                td.tlefttext(style='width:25%;vertical-align: top;') 
                  b Effects
                td.ttext(style='width:75%')
                  -each i in drug.formatted_effects
                    -if(glossary[i])
                      button.btn.btn-default(data-toggle="tooltip" data-placement="top" title="#{glossary[i]}" style="padding:5px;margin:5px;") #{i}
                    -else
                      button.btn.btn-default(style="padding:5px;margin:5px;") #{i}
            - else if(pName == 'duration' && drug.hasOwnProperty('formatted_duration'))
              tr
                td.tlefttext(style='width:25%;vertical-align: top;') 
                  b Duration
                td.ttext(style='width:30%')
                  table
                    tr
                      td(width="30%",style="margin-right:30px;")
                        - if((!drug.formatted_duration || (drug.formatted_duration && drug.formatted_duration.value)) && (!drug.formatted_onset || (drug.formatted_onset && drug.formatted_onset.value)) && (!drug.formatted_aftereffects || (drug.formatted_aftereffects && drug.formatted_aftereffects.value)))
                          table.table
                            thead
                              tr
                                th(colspan='2') All ROAs
                             tbody
                               -if(drug.formatted_onset)
                                 tr 
                                  td(style='width:20%') Onset
                                  td #{drug.formatted_onset.value} #{drug.formatted_onset._unit}
                               -if(drug.formatted_duration)
                                 tr
                                  td(style='width:20%') Duration
                                  td #{drug.formatted_duration.value} #{drug.formatted_duration._unit}
                               -if(drug.formatted_aftereffects)
                                 tr
                                  td(style='width:20%') After-effects
                                  td #{drug.formatted_aftereffects.value} #{drug.formatted_aftereffects._unit}
                        - else
                          -each item,roa in drug.formatted_duration
                            -if(roa != '_unit' && roa != 'value')
                              table.table
                                thead
                                  tr
                                    th(colspan='2') #{roa}
                                 if(drug.formatted_onset)
                                   tr 
                                    td(style='width:20%') Onset
                                    if(drug.formatted_onset[roa])
                                      td #{drug.formatted_onset[roa]} #{drug.formatted_onset._unit}
                                    else 
                                      td #{drug.formatted_onset.value} #{drug.formatted_onset._unit}
                                 if(drug.formatted_duration)
                                   tr
                                    td(style='width:20%') Duration
                                    if(drug.formatted_duration[roa])
                                      td #{drug.formatted_duration[roa]} #{drug.formatted_duration._unit}
                                    else 
                                      td #{drug.formatted_duration.value} #{drug.formatted_duration._unit}
                                 if(drug.formatted_aftereffects)
                                   tr
                                    td(style='width:20%') After-effects
                                    if(drug.formatted_aftereffects[roa])
                                      td #{drug.formatted_aftereffects[roa]} #{drug.formatted_aftereffects._unit}
                                    else 
                                      td #{drug.formatted_aftereffects.value} #{drug.formatted_aftereffects._unit}
                      td(style="margin-left:25px;vertical-align:top")
                        div(id='durationChart', style="height:200px;width:500px;margin-left:100px;")
            - else if(pName == 'onset' || pName == 'after-effects' || pName == 'categories')
              span 
            - else if(pName == 'summary')
              tr
                td.tlefttext(style='width:25%;vertical-align: top;') 
                  b Summary
                td.ttext(style='width:75%')
                  p !{drug.properties.summary}
                  -each i in drug.properties.categories
                    -if(i == 'research-chemical')
                      .bs-callout.bs-callout-research
                        h4 
                          a(href='/category/research-chemical') Research Chemical
                        p #{drug.pretty_name} is a research chemical. This means it has relatively little history of human use, and thus particular care should be taken if choosing to ingest this drug. 
                        a(href='https://wiki.tripsit.me/wiki/Research_Chemicals') Read more about research chemicals...
                    -else if(i == 'habit-forming')
                      .bs-callout.bs-callout-habit
                        h4 
                          a(href='/category/habit-forming') Habit Forming
                        p #{drug.pretty_name} poses a higher risk of causing habit forming behaviour, take particular care with the amount and frequency you take this drug. 
                        a(href='https://wiki.tripsit.me/wiki/Addiction') Read more about addiction...
                    -else if(i == 'opioid')
                      .bs-callout.bs-callout-opioid
                        h4 
                          a(href='/category/opioid') Opioid
                        p #{drug.pretty_name} is an opioid. Opioids are pain-killing depressants which may also cause euphoria.
                        a(href='https://wiki.tripsit.me/wiki/Opioids') Read more about opioids...
                    -else if(i == 'stimulant')
                      .bs-callout.bs-callout-stimulant
                        h4 
                          a(href='/category/stimulant') Stimulant
                        p #{drug.pretty_name} is a stimulant. Stimulants excite the nervous system and increase physiological function.
                        a(href='https://wiki.tripsit.me/wiki/Stimulants') Read more about stimulants...
                    -else if(i == 'dissociative')
                      .bs-callout.bs-callout-dissociative
                        h4 
                          a(href='/category/dissociative') Dissociative
                        p #{drug.pretty_name} is a dissociative. That means it's awesome.
                        a(href='https://wiki.tripsit.me/wiki/Dissociatives') Read more about dissociatives...
                    -else if(i == 'benzodiazepine')
                      .bs-callout.bs-callout-benzo
                        h4 
                          a(href='/category/benzodiazepine') Benzodiazepine
                        p #{drug.pretty_name} is a benzodiazepine. These are generally hypnotic or anxiolytic depressant drugs.
                        a(href='https://wiki.tripsit.me/wiki/Benzodiazepines') Read more about benzodiazepines...
                    -else if(i == 'depressant')
                      .bs-callout.bs-callout-depressant
                        h4 
                          a(href='/category/depressant') Depressant
                        p #{drug.pretty_name} is a depressant. These are drugs which slow shit down.
                        a(href='https://wiki.tripsit.me/wiki/Depressants') Read more about depressants...
                    -else if(i == 'psychedelic')
                      .bs-callout.bs-callout-psychedelic
                        h4 
                          a(href='/category/psychedelic') Psychedelic
                        p #{drug.pretty_name} is a psychedelic. These are drugs which make things shiny.
                        a(href='https://wiki.tripsit.me/wiki/Psychedelics') Read more about psychedelics...
                    -else if(i == 'tentative')
                      .bs-callout.bs-callout-tentative
                        h4 
                          a(href='/category/tentative') Tentative
                        p The information given for #{drug.pretty_name} is tentative, which usually means it is very new or that there isn't much reliable information about it. Be careful with this drug.
            - else
                tr
                  td.tlefttext(style='width: 25%;') 
                    b #{name}
                  td.ttext(style='width: 75%;')
                    - if (typeof(property) === 'string'){
                      | !{property}
                    -} else {
                      -each line in property
                        | #{line}
                        br
                    -}
    a(name='interact')
    h2.sub-header Interactions
    .bs-callout.bs-callout-danger
      h3 Deadly
      ul
        -each d in interactions.deadly
          li
            a(href='/factsheet/'+d) #{d}
    .bs-callout.bs-callout-unsafe
      h3 Unsafe
      ul
        -each d in interactions.unsafe
          li
            a(href='/factsheet/'+d) #{d}
    .bs-callout.bs-callout-safeinc
      h3 Low risk & Increased Effects
      ul
        -each d in interactions.safeinc
          li
            a(href='/factsheet/'+d) #{d}
    .bs-callout.bs-callout-safedec
      h3 Low risk & Decreased Effects
      ul
        -each d in interactions.safedec
          li
            a(href='/factsheet/'+d) #{d}
    a(name='sources')
    h2.sub-header External Links
