extends layout

block content
      div.sidebar
        div#sidebarcontent
            ul.nav.nav-sidebar
              li
                a(href='/') 
                  span.glyphicon.glyphicon-menu-left(aria-hidden='true') 
                  span Back to Browse
              li.divider(role='presentation', style="background-color:#aaa;display:block;height:5px;")
              li.active
                a(href='#basic') Basic Information
              li
                a(href='#interact') Interactions
              li
                a(href='#sources') External Links
      .main
        a(name='basic')
        h1#drug.page-header #{drug.name}
        h2.sub-header Basic Information
        table.table
          tbody.tbody1
            for pName in order
              if drug.properties[pName]
                - name = pName.charAt(0).toUpperCase() + pName.slice(1);
                - property = drug.properties[pName]
                - if(pName == 'dose' && drug.hasOwnProperty('formatted_dose'))
                    td.tlefttext(style='width:25%;vertical-align: top;') 
                      b Dose
                    td.ttext(style='width:75%')
                      -each item,roa in drug.formatted_dose
                        table
                          tr
                            td(width="30%",style="margin-right:30px;")
                                table.table
                                  thead
                                    tr
                                      th(colspan='2') #{roa}
                                  -each i,t in item
                                   tr 
                                    td(style='width:20%') #{t}
                                    td #{i}
                            td(style="margin-left:25px;")
                              div(id=roa+'Chart', style="height:200px;width:500px;margin-left:100px;")
                - else if(pName == 'effects' && drug.hasOwnProperty('formatted_effects'))
                  tr
                    td.tlefttext(style='width:25%;vertical-align: top;') 
                      b Effects
                    td.ttext(style='width:75%')
                      -each i in drug.formatted_effects
                        button.btn.btn-default(data-toggle="tooltip" data-placement="top" title="test" style="padding:5px;margin:5px;") #{i}
                - else if(pName == 'duration' && drug.hasOwnProperty('formatted_duration'))
                  tr
                    td.tlefttext(style='width:25%;vertical-align: top;') 
                      b Duration
                    td.ttext(style='width:30%')
                      table
                        tr
                          td(width="30%",style="margin-right:30px;")
                            -each item,roa in drug.formatted_duration
                              -if(roa != '_unit')
                                table.table
                                  thead
                                    tr
                                      th(colspan='2') #{roa}
                                   tr 
                                    td(style='width:20%') Onset
                                    if(drug.formatted_onset[roa])
                                      td #{drug.formatted_onset[roa]} #{drug.formatted_onset._unit}
                                    else 
                                      td #{drug.formatted_onset.value} #{drug.formatted_onset._unit}
                                   tr
                                    td(style='width:20%') Duration
                                    if(drug.formatted_duration[roa])
                                      td #{drug.formatted_duration[roa]} #{drug.formatted_duration._unit}
                                    else 
                                      td #{drug.formatted_duration.value} #{drug.formatted_duration._unit}
                                   tr
                                    td(style='width:20%') After-effects
                                    if(drug.formatted_aftereffects[roa])
                                      td #{drug.formatted_aftereffects[roa]} #{drug.formatted_aftereffects._unit}
                                    else 
                                      td #{drug.formatted_aftereffects.value} #{drug.formatted_aftereffects._unit}
                          td(style="margin-left:25px;vertical-align:top")
                            div(id='durationChart', style="height:200px;width:500px;margin-left:100px;")
                - else if(pName == 'onset' || pName == 'after-effects')
                  span 
                - else
                    tr
                      td.tlefttext(style='width: 25%;') 
                        b #{name}
                      td.ttext(style='width: 75%;')
                        - if (typeof(property) === 'string'){
                          | !{property}
                        -} else {
                          -each line in property
                            | #{line}
                            br
                        -}
        a(name='interact')
        h2.sub-header Interactions
        .bs-callout.bs-callout-danger
          h3 Deadly
          ul
            -each d in interactions.deadly
              li
                a(href='/factsheet/'+d) #{d}
        .bs-callout.bs-callout-unsafe
          h3 Unsafe
          ul
            -each d in interactions.unsafe
              li
                a(href='/factsheet/'+d) #{d}
        .bs-callout.bs-callout-safeinc
          h3 Low risk & Increased Effects
          ul
            -each d in interactions.safeinc
              li
                a(href='/factsheet/'+d) #{d}
        .bs-callout.bs-callout-safedec
          h3 Low risk & Decreased Effects
          ul
            -each d in interactions.safedec
              li
                a(href='/factsheet/'+d) #{d}
        a(name='sources')
        h2.sub-header External Links
